<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CashFlow - Ввод данных</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/cartPage.css">
</head>
<body>

    <header class="header">
        <div class="header-content">
            <div class="logo">
                <a href="/mainPage" class="logo">
                <span class="logo-cash">Cash</span><span class="logo-flow">Flow</span>
                </a>
            </div>
        </div>
    </header>

    <main class="main-content">
        <h1 class="page-title">Введите ваши данные</h1>
        <div class="font-container">
        <div class="data-form">
            <div class="form-row">
                <label for="company-name">Название компании:</label>
                <input type="text" id="company-name" placeholder="“Яндекс”">
            </div>
            <div class="form-row">
                <label for="inn">ИНН:</label>
                <input type="text" id="inn" placeholder="123456789000">
            </div>
            <div class="form-row">
                <label for="ogrn">ОГРН:</label>
                <input type="text" id="ogrn" placeholder="1234567890001">
            </div>
            <div class="form-row">
                <label for="initial-sum">Начальная сумма:</label>
                <input type="text" id="initial-sum" placeholder="250 тыс.">
            </div>
            <div class="form-row">
                <label for="quarter">Квартал:</label>
                <input type="text" id="quarter" placeholder="2">
            </div>
        </div>
        <h3 class="added-items-title">Добавленные счёты</h3>
        <div class="balance-list">
            {{ range .cartItems }}
            <div class="balance-item">
                <div class="item-info">
                    <img src="{{ .CartAccountImageURL }}" class="icon-wrapper">
                    <span>{{ .CartAccountName }}</span>
                </div>
                <input type="text" class="balance-amount" value="{{ .CartAccountCost }} тыс.">
            </div>
            {{ end }}
        </div>
        <h2 class="balance-title">Остаток средств:</h2>
        </div>
    </main>
    
    <footer class="footer">
        <div class="footer-content">
            <p>© 2025 CashFlow. Все права защищены.</p>
        </div>
    </footer>


</body>
</html>