<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CashFlow - главная</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/mainPage.css">
</head>
<body>
    <div class="container">
    <header class="header">
        <div class="header-content">
            <div class="logo">
                <a href="/mainPage" class="logo">
                <span class="logo-cash">Cash</span><span class="logo-flow">Flow</span>
            </a>
            </div>
        </div>
    </header>

    <main class="main-content">
        <h1>Добавьте счёт в ваш прогноз</h1>
        <div class="search-container header-content">
            <form action="/mainPage" method="GET">
                <input type="text" name="query" placeholder="Введите название операции" value="{{ .query }}">
                <button>найти</button>
            </form>
            </div>
        <div class="cards-grid">
             {{ range .accounts }}
            <div class="card">
                <img src="{{ .Image }}" alt="{{ .Title }}" class="icon-wrapper">
                <h3> {{ .Title }}</h3>
                <a href="/account/{{ .ID }}"><button class="details-button" href="/account/{{ .ID }}">Подробнее </button></a>
            </div>
            {{ end }}
        </div>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2025 CashFlow. Все права защищены.</p>
        </div>
    </footer>
    </div>
    <a href="/cart/1" class="cart-button">
        <div class="cart-icon">
            <svg class="icon-list" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"/>
        </svg>
            <span class="cart-counter">3</span>
        </div>
    </a>
</body>
</html>